*{
    margin: 0px;
    padding: none;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    line-height: 25px;
}
.parent{
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-mobile.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.coat{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}
h2,p,small ,.trial{
    text-align: center;
}
h2{
    margin-bottom: 20px;
    color:#FFFEFF;
}

p{
    margin-bottom: 30px;
    color: #FFF1F6;
}
.trial{
    background-color: #5D54A3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
form{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
form input, button{
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:2px solid #eeeeee;
}
form input{
    padding: 15px;
    margin-bottom: 0px;
    /* for error-shake animation */
    position:relative ;
    --left:0;
    left:var(--left);
}

input:focus{
    outline: 2px solid #BDBBC9;
}
/* so the input doesn't auto zoom on safari browsers */
input[type="password"], input[type="email"],input[type="text"]{
    font-size: 16px;
}
input:valid{
    /* background-color:  blue; */
}

input{
    padding: 15px;
    /* for error-shake animation */
    position:relative ;
    --left:0;
    left:var(--left);
}

.input:not(:focus):invalid{
    background: url(./images/icon-error.svg) no-repeat 96% center;
    animation: error-shake 600ms;
    outline: 2px solid #E08586;
}


@keyframes error-shake{
    0%{
    --left:-10px;
    }
    20%{
     --left:8px;
    }
    40%{
     --left:-6px;
    }
    60%{
        --left:4px;
    }
    80%{
        --left:-2px;
    }
    100%{
        --left:0;
    }

}





.list{
    background: url(./images/icon-error.svg) no-repeat 96% center;
    /* outline: 2px solid red; */
}


input[type="submit"]:invalid{
    background-color: #E08586;
}
span{
    color: #E08586;
    /* background-color: #5D54A3; */
    text-align: end;
    font-size: 10px;
    margin-bottom: 15px;
  visibility: hidden;
  /* display:none ; */
}
.unHideSpan{
    visibility: visible;
}

button{
    background-color: #3BCA8A;
    color: white;
    border: none;
   
}
button:hover{
    box-shadow: -1px 4px 10px gold ;
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
}
button:active{
    background-color: #03ec83;
    box-shadow: none;
    transform: scale(1.1);
    transition: .1s;
}

small{
    margin-bottom: 10px;
}
a{
    color: #E08586;
    text-decoration: none;
}

@media screen and (min-width:700px){
    .parent{
        background-image: url(./images/bg-intro-desktop.png);
    }
    .coat{
        flex-direction: row;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .left-section{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-right: 100px;
    }
    p, h2{
        text-align: start;
    }

    .trial{
        height: 40px;
    }
   
}

@media screen and (min-width:700px) and (max-width:1050px){
    .coat{
        padding-left: 5%;
        padding-right: 5%;
    }
    
}
@media screen and (min-width:1300px){
    h2{
        width: 50%;
    }
}

@media screen and (min-width:1340px){
    .left-section{
        margin-right: 50px;
    }
}





