*{
    margin: 0px;
    padding: none;
    box-sizing: border-box;
}
.parent{
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-mobile.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.coat{
    /* background-color: bisque; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}
h2,p,small ,.trial{
    text-align: center;
}
h2{
    margin-bottom: 20px;
    color:#FFFEFF;
}
p{
    margin-bottom: 30px;
    color: #FFF1F6;
}
.trial{
    background-color: #5D54A3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
form{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}
form input, button{
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:2px solid #eeeeee;
}
input{
    padding: 15px;
}
/* so the input doesn't auto zoom on safari browsers */
input[type="password"], input[type="email"],input[type="text"]{
    font-size: 16px;
}
button{
    background-color: #3BCA8A;
    color: white;
    border: none;
   
}
button:hover{
    box-shadow: -1px 4px 10px gold ;
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
}
button:active{
    background-color: #0cd279;
    box-shadow: none;
}
a{
    color: #E08586;
    text-decoration: none;
}

@media screen and (min-width:700px){
    .parent{
        background-image: url(./images/bg-intro-desktop.png);
    }
    .coat{
        flex-direction: row;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }
    .left-section{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-right: 100px;
    }
    p, h2{
        text-align: start;
    }
    .trial{
        height: 40px;
    }
   
}

@media screen and (min-width:700px) and (max-width:1050px){
    .coat{
        padding-left: 5%;
        padding-right: 5%;
    }
    
}